.instagramicon {
    color: bisque;
    width: 100%;
    max-width: 25px;
}
.jimmy {
    width: 100%;
    position: relative;
    padding-block: 1em;
}
    h1 {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;
}
h2 {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; line-height: 26.4px;
    text-align: center;
}
h3 {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 2.5rem;
    text-align:left;
    padding: .5rem;
}
  .logo {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}
  .main-nav {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align:inherit;
    grid-area: nav;
  }
  @media (max-width: 700px) {
    .column {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding: .5rem;
    }
    .wrapper {
       background-color: rgba(17, 15, 13, .80);
    }
    .block
    {
        width: 90%;
        position: relative;
        padding: .5em;
    }
    .jimmy
    {
        width: 90%;
        position: relative;
        padding: .5em;
    }
    .logo {
        width: 100%;
        max-width: 350px;
        padding: .75rem;
    }
    .instagramicon {
        color: bisque;
        width: 100%;
        max-width: 25px;
    }
    .youtubeicon {
        color: bisque;
        width: 100%;
        max-width: 25px;
    }
    footer {
                bottom: 0;
        background-color: #493025;
        width: 100%;
        max-height: 2.5rem;
        max-width:inherit;
    }
    ul {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    text-align:inherit;
    flex-direction: column;
    justify-content:inherit;
}
  }
  @media (min-width: 701px) {
    .column {
        float:inline-start;
        width: 25%;
        padding: 50px;
        text-align: center;}
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(17, 15, 13, .80);
        grid-auto-flow: column;
      grid-template-rows: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer";
     }
     nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;  
       }
     .logo {
        width: 100%;
        max-width: 500px;
        padding: 1rem;
    }