
body {
    background-color: #493025;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav-menu { 
    font-family: Copperplate, Copperplate Gothic Light, fantasy; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}
.logo {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}

.block {
    width: 90%;
    position: relative;
    padding-left: 1em;
}
.backgroundpic {
    width: 100%;
    position: relative;
}
.jimmy {
    width: 100%;
    position: relative;
    padding-block: 1em;
}



.backgroundpic {
    max-width: 800px;
    justify-self: top: ;
}
header {
    height: 15%;
    max-height: 200px;
    background-color: #232323;
}
h1 {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
h2 {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; line-height: 26.4px;
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.column {
    width: 95%;
    height: 100%;
    color: white;
}



footer {
    background-color: #2323235;
}

@media screen and (min-width: 800px) {
    main {
        flex-direction: row;
    }
    .column {
        width: 28%;
    }
    li {
        align-items: flex-end;
        color: bisque;
    }
    
    
    
}
@media (min-width: 1025px) {
    #nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;}
    
    }
    .burger {
        width: 35px;
        height: 5px;
        background-color: bisque;
        margin: 6px 0;
      }body
      {
        margin: 0;
        padding: 0;
        background: #232323;
        color: bisque;
        font-family: Copperplate, Copperplate Gothic Light, fantasy;
      }
      
      #menuToggle
      {
        display: block;
        position: relative;
        top: -50px;
        left: 15px;
        
        z-index: 1;
        
        -webkit-user-select: none;
        user-select: none;
      }
      
      #menuToggle a
      {
        text-decoration: none;
        color: #232323;
        
        transition: color 0.3s ease;
      }
      
      #menuToggle a:hover
      {
        color: rgb(0, 0, 0);
      }
      
      
      #menuToggle input
      {
        display: block;
        width: 40px;
        height: 32px;
        position:relative;
        top: -7px;
        right: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
      }
      
      /*
       * Just a quick hamburger
       */
      #menuToggle span
      {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }
      
      #menuToggle span:first-child
      {
        transform-origin: 0% 0%;
      }
      
      #menuToggle span:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
      
      /* 
       * Transform all the slices of hamburger
       * into a crossmark.
       */
      #menuToggle input:checked ~ span
      {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
      }
      
      /*
       * But let's hide the middle one.
       */
      #menuToggle input:checked ~ span:nth-last-child(3)
      {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      /*
       * Ohyeah and the last one should go the other direction
       */
      #menuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }
      #menu
      {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      }
      
      #menu li
      {
        padding: 10px 0;
        font-size: 22px;
      }
      #menuToggle input:checked ~ ul
      {
        transform: none;
      }