
h1 {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
h2 {
    color: bisque;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; line-height: 26.4px;
}
.main-head {
    grid-area: header;
  }
  .logo {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}
  .content {
    grid-area: content;
  }
  .main-nav {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  .ad {
    grid-area: ad;
  }
  .main-footer {
    grid-area: footer;
  }
  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
  }
  @media (min-width: 500px) {
    .wrapper {
        background-color: rgba(17, 15, 13, .80);
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
        "header  header"
        "nav     nav"
        "sidebar content"
        "ad      footer";
    }
    .logo {
        width: 100%;
        max-width: 500px;
        padding: 1rem;
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (min-width: 700px) {
    .wrapper {
        background-color: rgba(17, 15, 13, .80);
      grid-template-rows: 1fr 4fr 1fr;
      grid-template-areas:
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
     .logo {
        width: 100%;
        max-width: 500px;
        padding: 1rem;
    }
  }
  
  
  